h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    display: inline;
    border: 1px solid #b2b1b1;
    background: white;
    padding: 1.5rem;
    margin: 2rem;
}

#validation {
    border: 1px solid #b2b1b1;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    background-color: #ddd;
}

#validation label, #validation input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0.5rem;
}

#validation label {
    display: block;
    margin: 0.5rem;
}

#validation .box {
    margin: 0 0 1rem 0;
}

#validation input {
    padding: 0.5rem;
    border: 1px solid #b2b1b1;
}

#full-name, #email {
    padding: 0.5rem;
}

#message {
    height: 4rem;
    padding: 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

#submit-btn {
    color: white;
    background-color: #6495ed;
    padding: 5rem;
    cursor: pointer;
}

/* smart-phone */
@media screen and (max-width: 25rem) {
    
  }

/* tablet */
@media screen and (max-width: 40rem) {
    #validation {
        column-count: 2;
      }
  }

@media screen and (max-width: 50rem) {
    #validation {
        column-count: 2;
      }
}